-- AlterEnum
ALTER TYPE "IndentStatus" ADD VALUE 'PENDING_PAYMENT';

-- AlterTable
ALTER TABLE "indent" ADD COLUMN     "approvedByIds" TEXT[] DEFAULT ARRAY[]::TEXT[],
ADD COLUMN     "approverIds" TEXT[] DEFAULT ARRAY[]::TEXT[];

