-- AlterEnum
ALTER TYPE "IndentStatus" ADD VALUE 'PENDING_OWNER_APPROVAL';

-- AlterTable
ALTER TABLE "indent" ADD COLUMN     "managerApprovedAt" TIMESTAMP(3),
ADD COLUMN     "managerApprovedById" TEXT;

-- AddForeignKey
ALTER TABLE "indent" ADD CONSTRAINT "indent_managerApprovedById_fkey" FOREIGN KEY ("managerApprovedById") REFERENCES "WorkspaceMember"("id") ON DELETE SET NULL ON UPDATE CASCADE;

